<main class="flex gap-6 h-screen">
  <div class="left w-3 border-1 border-solid border-round-2xl p-3 border-300">
    <h3 class="mb-3">Najbliższe wydarzenia</h3>
    <div class="flex flex-column gap-3">
      <h4>Dzisiaj</h4>
      @if (events) {
        @for (event of myEvents; track $index) {
          @if (event.type == 'work') {
            <div class="w-full flex align-items-center gap-2">
              <i class="pi pi-circle-fill text-xs text-blue-500"></i>
              <div class="w-full flex justify-content-between">
                <p>{{ event.vehicle }}</p>
                <p>{{ event.hour }}</p>
              </div>
            </div>
          } @else if (event.type == 'birthday') {
            <div class="w-full flex align-items-center gap-2">
              <i class="pi pi-circle-fill text-xs text-red-500"></i>
              <div class="w-full flex justify-content-between">
                <p>{{ event.description }}</p>
                <p>{{ event.age }} lata</p>
              </div>
            </div>
          }
        }
      }
    </div>
  </div>

  <div class="w-9">
    <div class="w-full flex align-items-center justify-content-between">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle' : 'en' }}</h3>

      <p-selectButton
        [options]="viewOptions"
        [(ngModel)]="view"
        optionLabel="label"
        optionValue="value"
        (onChange)="setView(view)"
        placeholder="Wybierz widok"
        styleClass="w-full"
      ></p-selectButton>
    </div>

    @switch (view) {
      @case (CalendarView.Month) {
        <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" />
      }
      @case (CalendarView.Week) {
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" />
      }
      @case (CalendarView.Day) {
        <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" />
      }
    }
    <div class="w-full flex gap-3 p-3">
      <p-button
        label="Poprzedni"
        severity="secondary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
      </p-button>
      <p-button label="Obecny miesiąc" mwlCalendarToday [(viewDate)]="viewDate"></p-button>
      <p-button
        label="Następny"
        severity="secondary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
      </p-button>
    </div>
  </div>
</main>
